.in
  width 60%
  margin auto

.btn
  text-transform uppercase
  border-radius 30px
  padding 15px 45px
  font-weight 500
  font-size 1.2rem
  text-decoration none
  margin-right 20px
  display inline-block
  &.btn-download
    color c = #68c830
    border solid 2px @color
    &:hover
      background-color @color
      color #fff
  &.btn-learn
    color #fff
    background-color $font-color
    border solid 2px $font-color
    &:hover
      color $font-color
      background-color #fff