/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$android_name = 'android';
$android_x = 46px;
$android_y = 239px;
$android_offset_x = -46px;
$android_offset_y = -239px;
$android_width = 28px;
$android_height = 32px;
$android_total_width = 303px;
$android_total_height = 271px;
$android_image = '../../img/icons.png';
$android = 46px 239px -46px -239px 28px 32px 303px 271px '../../img/icons.png' 'android';
$clear_name = 'clear';
$clear_x = 98px;
$clear_y = 154px;
$clear_offset_x = -98px;
$clear_offset_y = -154px;
$clear_width = 70px;
$clear_height = 69px;
$clear_total_width = 303px;
$clear_total_height = 271px;
$clear_image = '../../img/icons.png';
$clear = 98px 154px -98px -154px 70px 69px 303px 271px '../../img/icons.png' 'clear';
$customize_name = 'customize';
$customize_x = 183px;
$customize_y = 154px;
$customize_offset_x = -183px;
$customize_offset_y = -154px;
$customize_width = 41px;
$customize_height = 40px;
$customize_total_width = 303px;
$customize_total_height = 271px;
$customize_image = '../../img/icons.png';
$customize = 183px 154px -183px -154px 41px 40px 303px 271px '../../img/icons.png' 'customize';
$developer_name = 'developer';
$developer_x = 259px;
$developer_y = 104px;
$developer_offset_x = -259px;
$developer_offset_y = -104px;
$developer_width = 44px;
$developer_height = 34px;
$developer_total_width = 303px;
$developer_total_height = 271px;
$developer_image = '../../img/icons.png';
$developer = 259px 104px -259px -104px 44px 34px 303px 271px '../../img/icons.png' 'developer';
$email_name = 'email';
$email_x = 155px;
$email_y = 85px;
$email_offset_x = -155px;
$email_offset_y = -85px;
$email_width = 58px;
$email_height = 43px;
$email_total_width = 303px;
$email_total_height = 271px;
$email_image = '../../img/icons.png';
$email = 155px 85px -155px -85px 58px 43px 303px 271px '../../img/icons.png' 'email';
$ios_name = 'ios';
$ios_x = 89px;
$ios_y = 239px;
$ios_offset_x = -89px;
$ios_offset_y = -239px;
$ios_width = 26px;
$ios_height = 32px;
$ios_total_width = 303px;
$ios_total_height = 271px;
$ios_image = '../../img/icons.png';
$ios = 89px 239px -89px -239px 26px 32px 303px 271px '../../img/icons.png' 'ios';
$logo_name = 'logo';
$logo_x = 0px;
$logo_y = 0px;
$logo_offset_x = 0px;
$logo_offset_y = 0px;
$logo_width = 140px;
$logo_height = 139px;
$logo_total_width = 303px;
$logo_total_height = 271px;
$logo_image = '../../img/icons.png';
$logo = 0px 0px 0px 0px 140px 139px 303px 271px '../../img/icons.png' 'logo';
$modern_name = 'modern';
$modern_x = 259px;
$modern_y = 50px;
$modern_offset_x = -259px;
$modern_offset_y = -50px;
$modern_width = 39px;
$modern_height = 39px;
$modern_total_width = 303px;
$modern_total_height = 271px;
$modern_image = '../../img/icons.png';
$modern = 259px 50px -259px -50px 39px 39px 303px 271px '../../img/icons.png' 'modern';
$quotes_name = 'quotes';
$quotes_x = 259px;
$quotes_y = 153px;
$quotes_offset_x = -259px;
$quotes_offset_y = -153px;
$quotes_width = 44px;
$quotes_height = 31px;
$quotes_total_width = 303px;
$quotes_total_height = 271px;
$quotes_image = '../../img/icons.png';
$quotes = 259px 153px -259px -153px 44px 31px 303px 271px '../../img/icons.png' 'quotes';
$responsive_name = 'responsive';
$responsive_x = 155px;
$responsive_y = 0px;
$responsive_offset_x = -155px;
$responsive_offset_y = 0px;
$responsive_width = 89px;
$responsive_height = 70px;
$responsive_total_width = 303px;
$responsive_total_height = 271px;
$responsive_image = '../../img/icons.png';
$responsive = 155px 0px -155px 0px 89px 70px 303px 271px '../../img/icons.png' 'responsive';
$responsive_small_name = 'responsive_small';
$responsive_small_x = 259px;
$responsive_small_y = 0px;
$responsive_small_offset_x = -259px;
$responsive_small_offset_y = 0px;
$responsive_small_width = 44px;
$responsive_small_height = 35px;
$responsive_small_total_width = 303px;
$responsive_small_total_height = 271px;
$responsive_small_image = '../../img/icons.png';
$responsive_small = 259px 0px -259px 0px 44px 35px 303px 271px '../../img/icons.png' 'responsive_small';
$smart_name = 'smart';
$smart_x = 0px;
$smart_y = 154px;
$smart_offset_x = 0px;
$smart_offset_y = -154px;
$smart_width = 83px;
$smart_height = 70px;
$smart_total_width = 303px;
$smart_total_height = 271px;
$smart_image = '../../img/icons.png';
$smart = 0px 154px 0px -154px 83px 70px 303px 271px '../../img/icons.png' 'smart';
$wphone_name = 'wphone';
$wphone_x = 0px;
$wphone_y = 239px;
$wphone_offset_x = 0px;
$wphone_offset_y = -239px;
$wphone_width = 31px;
$wphone_height = 32px;
$wphone_total_width = 303px;
$wphone_total_height = 271px;
$wphone_image = '../../img/icons.png';
$wphone = 0px 239px 0px -239px 31px 32px 303px 271px '../../img/icons.png' 'wphone';
$spritesheet_width = 303px;
$spritesheet_height = 271px;
$spritesheet_image = '../../img/icons.png';
$spritesheet_sprites = $android $clear $customize $developer $email $ios $logo $modern $quotes $responsive $responsive_small $smart $wphone;
$spritesheet = 303px 271px '../../img/icons.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
