doctype html
html(lang="en")
    head
        title Example
        link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Roboto:500,300,700,400')
        link(rel='stylesheet', href='css/' + style_link)
    body

        include partials/header

        include partials/landing

        include partials/features

        include partials/testimonials

        include partials/notify

        section.social
            .in: ul
                li: a.twitter
                li: a.facebook
                li: a.vimeo
                li: a.pinetrest

        footer.footer
            .in: ul.info
                li Copyright © 2014 bearduo
                li |
                    a(href='#') Terms of Use
                li |
                    a(href='#') Support
                li |
                    a(href='#') Help
