$clearfix
  zoom 1
  &:after
  &:before
    content ""
    display table
  &:after
    clear both

$icon
  background-image url($spritesheet_image)
  background-repeat no-repeat

$icon-before
  content ''
  display inline-block
  vertical-align middle