section.features
    .in
        .slider
            img(src='img/image3.jpg')
        .feature-list
            h2.feature-header Features availalbe with Easy perfect free app
            ul
                li.modern
                    h3.feature-title Beautiful, modern design
                    p.feature-desc Duis bibendum diam non erat facilaisis tincidunt.
                li.customize
                    h3.feature-title Easy to customize
                    p.feature-desc Duis bibendum diam non erat facilaisis tincidunt.
                li.developer
                    h3.feature-title Developer Friendly
                    p.feature-desc Duis bibendum diam non erat facilaisis tincidunt.
                li.fullyresponsive
                    h3.feature-title Fully Responsive
                    p.feature-desc Duis bibendum diam non erat facilaisis tincidunt.