section.header
    .in
        .slider
            img(src="img/image1.jpg")
        .about
            a.logo(href='/') Value
            p.desc Perfect app that makes your everyday life so much easier!
            .button-group
                a.btn.btn-download(href='#') download
                a.btn.btn-learn(href='#') learn more
            .platforms
                span.ios
                span.android
                span.wphone
