section.landing
    .in
        h2.landing-title Clean and simple Landing page for  Apps
        p.landing-desc Reference site about Lorem Ipsum, giving information on its origins, as well as a random Lipsum In publishing and graphic design, lorem ipsum is a  a document or visual presentation.generator.
        .list
            .one-third.smart
                h3.list-title Very Smart
                p.list-desc Lorem Ipsum is simply Ipsum has been the industry's text of the printing and typesetting industry.
            .one-third.responsive
                h3.list-title Responsive
                p.list-desc Lorem Ipsum is simply Ipsum has been the industry's text of the printing and typesetting industry.
            .one-third.clear
                h3.list-title Crisp & clear
                p.list-desc Lorem Ipsum is simply Ipsum has been the industry's text of the printing and typesetting industry.
