section.notify
    .in
        h2.notify-header Get Notified of any updates!
        p.notify-desc Subscribe to our newsletter to be notified about new version release
        form.notify-form
            .input-group
                input(type='email', name='email', placeholder='Your email address')
                input(type='submit', value='Submit')

