section.testimonials
    .in
        ul.testimonial-list
            li
                img(src='img/wellsriley.jpg', alt='Wells Riley')
                h2.testimonial-title Wells Riley
                p.testimonial-type Designer
            li
                img(src='img/anthonylagoon.jpg', alt='Anthony Lagoon')
                h2.testimonial-title Anthony Lagoon
                p.testimonial-type Photographer
            li
                img(src='img/annayeaman.jpg', alt='Anna Yeaman')
                h2.testimonial-title Anna Yeaman
                p.testimonial-type Creative Director